<!--
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table class="dishList">
    <tr th:each="dish : ${dishList}">
        &lt;!&ndash;<td><span th:text="${dish.idDish}"></span> UAH</td>&ndash;&gt;
        <td th:text="${dish.idDish}"/>
        <td th:text="${dish.title}"/>
        <td th:text="${dish.price}"/>
        <td th:text="${dish.vegan}"/>
        <td th:text="${dish.calories}"/>
    </tr>
</table>
</body>
</html>-->


<!DOCTYPE HTML>
<html>
<head>
    <title>Menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <form>
        <select>
            <option>All</option>
            <option>Vegan</option>
            <option>NoWegan</option>
        </select>
    </form>

    <div>
        <h2 class="text-primary">My Menu</h2>
    </div>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Назва</th>
            <th scope="col">Ціна</th>
            <th scope="col">Чи Веган</th>
            <th scope="col">Калорії</th>

        </tr>
        </thead>
        <tr>
            <td>1</td>
            <td>каша-гречана</td>
            <td>12.0</td>
            <td>true</td>
            <td>300</td>
        </tr>

        <tr>
            <td>2</td>
            <td>картопляне-пюре</td>
            <td>17.0</td>
            <td>true</td>
            <td>500</td>
        </tr>
        <tr>
            <td>3</td>
            <td>оселедець під шубою</td>
            <td>12.0</td>
            <td>false</td>
            <td>800</td>
        </tr>
        <tr>
            <td>4</td>
            <td>сирники зі сметаною</td>
            <td>12.0</td>
            <td>false</td>
            <td>900</td>
        </tr>
        <tr>
            <td>5</td>
            <td>риба смажена</td>
            <td>20.0</td>
            <td>false</td>
            <td>1100</td>
        </tr>
        <tr>
            <td>6</td>
            <td>курча-табака</td>
            <td>40.0</td>
            <td>false</td>
            <td>900</td>
        </tr>
        <tr>
            <td>7</td>
            <td>салат Весняний</td>
            <td>8.0</td>
            <td>true</td>
            <td>400</td>
        </tr>
        <tr>
            <td>8</td>
            <td>макарони</td>
            <td>15.0</td>
            <td>true</td>
            <td>900</td>
        </tr>
        <tr>
            <td>9</td>
            <td>вареники з сиром</td>
            <td>33.0</td>
            <td>false</td>
            <td>900</td>
        </tr>
    </table>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
