<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SaveDishes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
    <span th:text="${timeShow}"></span>
</div>

    <form action="#" th:action="@{/saveDishesAction}" th:object="${dish}" method="post">
        <tr>
            <td><label th:text="title"/></td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td><label th:text="price"/></td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td><label th:text="vegan"/></td>
            <td><input type="checkbox" th:field="*{vegan}"/></td>
        </tr>
        <tr>
            <td><label th:text="calories"/></td>
            <td><input type="text" th:field="*{calories}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="ADD"/></td>
        </tr>

    </form>

</div>

<!--Optional JavaScript
jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

